body {
	font-size: 16px;
	margin: 0;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
header {
	background-color: #666;
	height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	transition: 0.3s transform cubic-bezier(.3,.73,.3,.74);
}
.MT {
	font-size: 32px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
}
.MI:hover {
	color: #ccc;
}
#L {
	display: flex;
	justify-content: center;
	align-items: center;
}
#L > img {
	width: 20%;
}
content {
	height: 1000px;
	background-color: #ddd;
	display: flex;
	padding-top: 10%;
}
footer {
	height: 6%;
	width: 100%;
	background-color: #666;
	display: flex;
	justify-content: space-around;
	color: #fff;
}
footer > p > a {
	text-decoration: none;
	color: #fff;
}